body {
    font-family: Arial;
    overflow: hidden;
}

h1 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    margin: 0px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #4B6C9E;
    color: white;
}

#nav {
    background-color: #3A4F63;
    width: 100%;
    position: absolute;
    top: 7%;
    left: 0;
    height: 60px;
}

.thh {
    color: white;
    background-color: #465C71;
    height: 35px;
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    left: 1%;
    position: relative;
    border: 1px solid #4B6C9E;
}

.Navi {
    text-decoration: none;
    color: white;
    background-color: #465C71;
    width: 200px;
    position: relative;
    top: 27%;
}

#form1 {
    position: absolute;
    top: 15%;
}
